<div >
    <mat-toolbar color="primary">
        <span class="example-spacer"></span>
        <button mat-flat-button color="primary" routerLink="/login"  *ngIf="!auth.session" >Login</button>
        <button mat-flat-button color="primary" routerLink="/userregister" *ngIf="!auth.session" >register</button>
        <button mat-flat-button color="primary" (click)="logout()"  *ngIf="auth.session">LogOut</button>
        <!-- <button mat-flat-button color="primary" routerLink="/register"  >register</button> -->

        <!-- <button mat-flat-button color="primary" routerLink="/all"  >getall</button>
        <button mat-flat-button color="primary" routerLink="/getdatabyid"  >getdatabyid</button>
        <button mat-flat-button color="primary" routerLink="/update"  >Update</button>
        <button mat-flat-button color="primary" routerLink="/delete"> Delete</button>
        <button mat-flat-button color="primary" routerLink="/getallbyjwt"> getallbyjwt</button> -->
        
    </mat-toolbar>
</div>
<router-outlet></router-outlet>