<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
          <form [formGroup]="uform" (ngSubmit)="submitForm()">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>New password</mat-label>
              <input type="password" matInput placeholder="enter password" name="password" formControlName="password">
            </mat-form-field>
            <div class="alert alert-danger" *ngIf="uform.get('password').touched && uform.get('password').invalid">
              <div *ngIf="uform.get('password').errors && uform.get('password').errors['required']">
                <strong>password is required</strong>
              </div>
            </div>

            <div class="d-grid">
              <button mat-raised-button color="primary" [disabled]="uform.invalid">Submit</button>
          </div>
          </form>
        </div>
    </div>
  </div>
</div>